.form {
    max-width: 640px;
    margin: 0 auto;
    background-color: #fff;
    padding: 60px 40px;
    border-radius: 15px;
}

.form_nav {
    margin-bottom: 35px;
}

.form_list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_list li {
    flex: 1 1 50%;
    padding: 15px 0;
    border-bottom: 1px solid var(--color-stroke);
    color: var(--color-text);
    cursor: pointer;
    transition: all 0.3s;
}

.form_list li:hover,
.form_list li.active {
    border-bottom: 1px solid var( --color-elem);
    color: var( --color-elem);
}