html,
body {
    font-size: 16px;
    font-family: var(--font-main);
    height: 100%;
}

#root{
    height: 100%;
}
.App {
    height: 100%;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 1 100%;
}
.button {
    border: 1px solid transparent;
    display: inline-block;
    width: fit-content;
    border-radius: 10px;
    padding: 12px 31px 12px 31px;
    background: var(--color-elem);
    transition: background 0.3s ease;
    font-family: var(--font-main);
    font-size: var(--size-captions);
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-white);
}

.button.button--outline {
    transition: border-color 0.3s ease;
    border: 1px solid var(--color-elem);
    background: transparent;
    color: var(--color-elem);
}

.button:hover {
    background-color: #005EFF;
}

.button.button--outline:hover {
    border: 1px solid #005EFF;
    background: transparent;
}

.button:disabled {
    background-color: #DDE3EB;
}

svg {
    cursor: pointer;
    transition: transform 0.3s ease;
}

svg:hover {
    transform: scale(1.05);
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;

    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.wrapper {
    position: absolute;
    top: 0px;
    transform: scale(1.5);
}

.loader {
    height: 25px;
    width: 1px;
    position: absolute;
    animation: rotate 3.5s linear infinite;
}

.loader .dot {
    top: 30px;
    height: 7px;
    width: 7px;
    background: var(--color-elem);
    border-radius: 50%;
    position: relative;
}

.text {
    position: absolute;
    bottom: -85px;
    font-size: 25px;
    font-weight: 400;
    font-family: sans-serif;
    color: #fff;
}

@keyframes rotate {
    30% {
        transform: rotate(220deg);
    }

    40% {
        transform: rotate(450deg);
        opacity: 1;
    }

    75% {
        transform: rotate(720deg);
        opacity: 1;
    }

    76% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        transform: rotate(0deg);
    }
}

.loader:nth-child(1) {
    animation-delay: 0.15s;
}

.loader:nth-child(2) {
    animation-delay: 0.3s;
}

.loader:nth-child(3) {
    animation-delay: 0.45s;
}

.loader:nth-child(4) {
    animation-delay: 0.6s;
}

.loader:nth-child(5) {
    animation-delay: 0.75s;
}

.loader:nth-child(6) {
    animation-delay: 0.9s;
}

.item-filter {
    display: flex;
    flex-direction: column;
    max-width: var(--size-block);
    width: var(--size-block);
}

.item-filter label {
    text-transform: capitalize;
    font-family: var(--font-main);
    font-size: var(--size-text);
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--color-captions);
}

.item-filter select {
    margin-top: 15px;
    border: 1px solid var(--color-stroke);
    height: 60px;
    width: 100%;
    border-radius: 15px;
    background-color: var(--color-white);
    padding: 0 20px;

    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 1rem top 50%;
    background-size: 0.65rem auto;
}

.form_sign {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.form-agree {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.form-agree label {
    margin-left: 15px;
    color: var(--color-text);
}
.form_sign .btn-form {
    max-width: 100%;
    width: 100%;
    padding: 20px;
}
.form-input {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.form-input label{
    color: var(--color-captions);
}
.form-input input{
    border: 1px solid #DDE3EB;
    border-radius: 15px;
    background-color: #fff;
    width: 100%;
    padding: 20px;
}
.btn-login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10px;
    color: var(--color-text);
}

.btn-login span {
    color: var(--color-elem);
}

.modal-content .form_sign {
    row-gap: 20px;
}
.modal-content .form_sign .btn-form {
    padding: 10px;
}
.modal-content .form-input {
    row-gap: 5px;
}
.modal-content .form-input input{
    padding: 10px;
}
.button.modal-content_button  {
    width: 100%;
}